.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  margin: 5% 20%;
}
.grid-item img {
  animation-timing-function: ease-in;
  animation-duration: 15s;
}
.despicable {
  width: 80%;
  margin: 0 10%;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.container {
  padding: 2%;
}

.imageslider {
  width: 100%;
  height: auto;
}

#lightSlider {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}

#slightSlider li {
  list-style: none;
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

#lightslider img {
  display: block;
  height: auto;
  max-width: 100%;
}
